{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4 justify-content-center">
        <div class="register-login-div shadow bg-white rounded">
        <h3>Login Below</h3>
            <div class="signup-form">  
                {% for message in messages %} 
                {{message}}
                {% endfor %}
                <form class="login-signup-form" method="post">
                    {% csrf_token %}
                    {{form|crispy}}
                    <div class="myform"><button class="btn btn-primary">Sign Up</button></div>  
                </form>
                <a href="{% url 'signup' %}">Haven't Registered Yet? Click here to Register an account</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
    </div>
</div>

{% endblock content %}