{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="col-sm-12 justify-content-center">
        <div class="register-login-div shadow bg-white rounded">
            <h3>Sign Up Below</h3>
            <div class="signup-form">   
                <form class="login-signup-form" method="post">
                    {% csrf_token %}
                    <div class="myform">{{form.username|as_crispy_field}}</div>
                    <div class="myform">{{form.email|as_crispy_field}}</div>
                    <div class="myform">{{form.password1|as_crispy_field}}</div>
                    <div class="myform">{{form.password2|as_crispy_field}}</div>
                    <div class="myform"><button class="btn btn-primary">Sign Up</button></div>  
                </form>
                <a href="{% url 'login' %}">Already have an account? Click here to Login</a>
            </div>
        </div>
    </div>


{% endblock content %}