
/* navbar */

.nav-container{
    height: 75px;    
}

.nav-link-container{
    display: flex;
    justify-content: end;
}

.navbar-nav li{
    font-size: medium;
    margin: 0px 10px 0px 10px;
}



/* Header */

#banner-pic{
    width: 100%;
    height: 100%;
    display: block;
    margin: 0px;
}

.banner-container{
  justify-content: center;
}

.header{
    height: 200px;
    margin: 50px 0px 50px 0px;
}

/* Footer */

.footer{
  margin-top: auto;
  min-height: 150px;
  background-color: #fafafa;
}

.container-fluid{
  min-height: 100vh;
  padding-top: 75px;
}

/* Sign Up and Login Page */

.register-login-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
}
.login-signup-form div{
  margin: 15px 0px 15px 0px;
}

.login-signup-form div{
  margin: 15px 0px 15px 0px;
}

.signup-form{
  width: 275px;
}


/* HomePage Cards */

#home-blog-content{
  border-right: 1px solid #dddddd;
  padding: 0px 50px 100px 0px;
  margin-right: 75px;
}

.post-header span{
  font-size: smaller;
  color: dimgray;
}

.post-header a{
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-weight: bold;
}

.individual-post-content p{
  font-size: small;
  color: dimgray;
}

.post-footer a{
  text-decoration: none;
  font-size: small;
}



/* single blog post */

#comments-input{
  margin-top: 25px;
}

#comments-input textarea{
  margin: 25px 0px 25px 0px;
}

.individual-comment{
  margin: 20px 0px;
}


.comment-content-box p{
  font-size: x-small;
}

.individual-comment span:nth-child(1){
  margin: 5px 0px 0px 0px;
  font-size: smaller;
}

.individual-comment span:nth-child(2){
  font-size: x-small;
  font-weight: lighter;
}



  /* Categories */

  .choose-category h4{
    font-size: medium;
  }

  .choose-category ul{
    list-style: none;
    padding: 0px;
  }

  .category-list a{
    text-decoration: none;
    font-size: small;
  }