
/* navbar */

/* .header-flex{
    display: flex;
    justify-content: right;
    padding: 0px;
    margin-bottom: 0px;
    height: min-content;
} */



.nav-container{
    height: 50px;
}

.nav-link-container{
    display: flex;
    justify-content: end;
}

.navbar-nav li{
    font-size: larger;
    margin: 0px 10px 0px 10px;
}


/* Header */

#banner-pic{
    width: 100%;
    max-height: 300px;
    display: block;
    margin: 0px;
}

.banner-container{
  justify-content: center;
}

.header{
    height: 300px;
    margin-bottom: 50px;
}



/* Sign Up and Login Page */


.login-signup-form div{
  margin: 15px 0px 15px 0px;
}



.signup-form{
  width: 275px;
}



/* single blog post */
.single-blog-post{
    margin: 25px;
}


/* Lira */



.blog-single-post{
    margin: 75px 0px 75px 0px;
}

.pst-titel a{
    background: #fafafa none repeat scroll 0 0;
    bottom: -12px;
    color: #a1a1a1;
    font-size: 12px;
    font-weight: 600;
    height: 25px;
    left: 0;
    line-height: 27px;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    width: 120px;
  }

  .post-titel-author h3 a{
      color: inherit;
  }

  .pst-titel a:hover,.blog-ph .pst-titel a:hover{color:#666;}
  .post-titel-author h3 a:hover{color:#666;}
  .post-titel-author > span,.post-txt a {
    color: #a1a1a1;
    font-family: open sans;
    font-size: 12px;
  }
  
  .post-titel-author > span a {
    color: #707070;
    font-weight: 700;
  }
  .post-titel-author > span a:hover,.post-srt-content > a:hover,.post-txt a:hover,.social-middle ul li a:hover,.category-list ul li a:hover,.twist-single ul li a:hover{color:#383838;}
  .post-srt-content > a {
    color: #a1a1a1;
    font-size: 12px;
    font-weight: 500;
    transition: all 0.3s ease 0s;
  }
  .post-srt-content > a i {
    margin-left: 6px;
  }
  .post-txt{
    margin-right: 25px;
  }
  .post-txt:last-child{
    margin-right: 0;
  }
  .post-txt a{
    font-family:"Poppins",sans-serif;
    transition:.3s;
    white-space: nowrap;
  }
  .post-txt a i {
    margin-right: 6px;
  }
  .embed-responsive {
    overflow: initial;
  }

  /* Categories */
.choose-category{
    margin-top: 75px;
}

  .category-list li {
    display: block;
  }

  .category-list ul{
      padding: 0px;
  }
  .category-list ul li a {
    color: #606060;
    display: block;
    padding: 10px 0;
  }
  .category-list ul li a span {
    float: right;
  }
  .category-list li:last-child {
    padding-bottom: 10px;
  }