
{% extends '_base.html' %}
{% load static %}

{% block content %}
<div class="individual-post">
    <div class="">
        <div class="post-header">
            <h3><a class="">{{post.title}}</a></h3>
                    <small>In {{post.category}}</small><br>
            <span>{{post.date_created}}   /  <span class="">By : {{post.author}}</span>
        </div>
        <div class="individual-post-content">
            <p>{{post.content|safe}}</p>
        </div>
    </div>
        <hr>
    <div class="comment-section">
    <h5>Comments</h5>
    {% for comment in comments %}
    <div class="individual-comment">
        <span>{{comment.author}}</span>
        <span>{{comment.date_posted}}</span>
            <div class="comment-content-box">
                <p>{{comment.comment}}</p>
            </div>
                <hr class="w-25">
    </div>
    {% endfor %}
    {% if user.is_authenticated %}
        <div id="comments-input" class="form-group">
            <form method="post" action="add-comment" >
                {% csrf_token %}
                <label for="">Write your comment below</label>
                <textarea class="form-control" name="comment" id="" cols="60" rows="5"></textarea>
                <input type="hidden" name="commentPost" value={{post.id}}>
                <button class="btn btn-primary">Comment</button>
            </form>
        </div>
    {% else %}
        <div>
            <p><a href="{% url 'login' %}">Log in</a> to leave a comment</p>
        </div>
    {% endif %}
    </div>
</div>
{% endblock content %}