{% extends '_base.html' %}
{% load static %}
{% block content %}

     <!-- content -->
        <div class="container-fluid">
            <div class="row single-blog-post">
                <div class="col-sm-3"></div>
                    <div class="col-lg-6">
                        <div class=" " style="width: auto;">
                            <h2 class="" style="text-align: center;">{{post.title}}</h2>
                            <br>
                            <div class="">
                            <div class="flex-row" style="margin: 20px;">
                                <img class="profile-pic" src="images/IMG_8750 (1).jpeg" alt="">
                                <span>By: {{post.author}}</span>
                                 {% if request.user.username == author %}
                                <span><a href="{% url 'edit-post' post.id %}">Edit</a></span>
                                <span><a href="{% url 'delete-post' post.id %}">Delete</a></span>
                                {% endif %}
                            <hr style="margin: 10px;">
                            <p class="">{{post.content|safe}}</p>
                            <br>
                            <div class="comment-section">
                                <h5>Comments</h5>
                                <hr>
                                {% for comment in comments %}
                                <div class="individual-comment">
                                    <small>By: {{comment.author}}</small>
                                    <p>{{comment.comment}}</p>
                                </div>
                                {% endfor %}

                                <div id="comments-input" class="form-group">
                                    <form method="post" action="add-comment" >
                                        {% csrf_token %}
                                        <label for="">Write your comment below</label>
                                        <textarea class="form-control" name="comment" id="" cols="60" rows="5"></textarea>
                                        <input type="hidden" name="commentPost" value={{post.id}}>
                                        <button class="btn btn-primary">Comment</button>
                                    </form>
                                </div>
                            </div>
                            </div>
                            </div> 
                        </div>
                            <div class="col-sm-3"></div>
                    </div>
            </div>
        </div>
{% endblock content %}