{% extends '_base.html' %}

{% block content %}
        <h3>Posts in {{category}} </h3>  
        <br>
        <br>
        <div>
          {% if posts %}
          {% for post in posts %}
          <div class="individual-post">
            <div class="">
              <div class="post-header">
                <h5><a class="" href="{% url 'view-post' post.id %}">{{post.title}}</a></h5>
                <small>In {{post.category}}</small><br>
                <span>{{post.date_created}}   /  <span class="">By : {{post.author}}</span>
              </div>
              <div class="individual-post-content">
                <p>{{post.content|truncatechars:250|safe}}</p>
              </div>
              <div class="post-footer">
                <a class="" href="{% url 'view-post' post.id %}">Read More <i class="icofont icofont-long-arrow-right"></i></a>
              </div>
            </div>
            <hr>
          </div>
        {% endfor %}
        {% else %}
            <p>There are no posts for this category</p>
        {% endif %}
            <h6> <a href="{% url 'home' %}">Go Back To Blog</a></h6>
        </div>
{% endblock content %}
