
{% extends '_base.html' %}
{% load static %}

{% block content %}
<!-- content section; blogposts  -->
  <div class="content row">
    <div class="col-sm-1">
    </div>
    <div class="col-lg-7" id="home-blog-content">
		{% if posts %}
            {% for post in posts %}
            <div class="blog-single-post pb-60 shadow p-3 mb-5 bg-white rounded">
              <div class="post-content">
                <div class="post-titel-author pt-30 pb-15">
                  <h3><a href="{% url 'view-post' post.id %}">{{post.title}}</a></h3>
				  <small>In {{post.category}}</small><br>
                  <span>{{post.date_created}}   /  <a href="#">By : {{post.author}}</a></span>
                </div>
                <div class="post-srt-content pb-20 border-bottom">
                  <p>{{post.content|truncatechars:250|safe}}</p>
                  <a href="{% url 'view-post' post.id %}">CONTINUE READING <i class="icofont icofont-long-arrow-right"></i></a>
                </div>
                <div class="post-info pt-15">
                  <span class="post-txt mr-25">
                    <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i>{{post.likes}} Likes</a>
                  </span>
                  <span class="post-txt mr-25">
                    <a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i>{{post.number_of_comments}} Comments</a>
                  </span>
                </div>
              </div>
            </div>
          {% endfor %}
		{% endif %}
        </div>
    <div class="col-sm-3" style="margin: 0px 0px 0px 0px;">
							<div class="choose-category float-end shadow p-3 mb-5 bg-white rounded">
								<h4>Categories</h4>
								<div class="category-list">
									<ul>
										{% for category in categories %}
										<li>
											<a href="{% url 'category-view' category.id%}">{{category}}<span></span></a>
										</li>
										{% endfor %}
									</ul>
								</div>
							</div>
							<div class="choose-category float-end shadow p-3 mb-5 bg-white rounded ">
								<h4>Recent Posts</h4>
								<div class="category-list">
									<ul>
                  {% for post in posts %}
										<li>
											<a href="{% url 'view-post' post.id %}">{{post.title}}</a>
										</li>					
                  {% endfor %}						
									</ul>
								</div>
							</div>
    <div class="col-sm-1"></div>
    </div>
{% endblock content %}